# ===========================
# YOLOv5 Custom Project .gitignore
# ===========================

# --- Datasets (large, not for GitHub) ---
images/
labels/
datasets/

# --- Training outputs (can be GBs) ---
runs/

# --- Weights ---
# Ignore all weights except keep best.pt
*.pt
!best.pt

# --- Logs / reports ---
*.log
*.tmp
*.zip
*.odt

# --- Python cache ---
__pycache__/
*.pyc

# --- OS / editor system files ---
.DS_Store
.~*

